<!DOCTYPE hmtl>
<html>
  <head>
    <title>Makin'Twitter</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/app.css.scss">
  </head>
  <body>
    Twitter i'm coming for you
  </body>
</html>