<!DOCTYPE hmtl>
<html>
  <head>
    <title>Makin'Twitter</title>
    <link rel="icon" type="image/ico" href="/images/favicon.ico">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/app.css.scss">
  </head>
  <body>
    <header>
      <nav id="left-nav">
        <a href="/"><img src="/images/home.png" alt="">Home</a>
        <a href="/"><img src="/images/notifications.png" alt=""> Notifications </a>
        <a href="/"><img src="/images/discover.png" alt="">Discover </a>
        <a href="/"><img src="/images/me.png" alt=""> Me</a>
        <img src="/images/logo.png" id="logo" alt="">
      </nav>
      <nav id="center-nav">
        <input class="search" type="text" placeholder="Search Twitter">
      </nav>
      <nav id="right-nav">
        <a href="/"><img src="/images/messsages.png" alt=""></a>
        <a href="/"><img src="/images/settings.png" alt=""></a>
        <a href="/"><img id="new-tweet" src="/images/new_tweet.png" alt=""></a>
      </nav>
    </header>
  </body>
</html>